.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* Add this to your Carousel.css */
.card-container.active {
  display: block;
}

.card-container {
  display: none;
}
