.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0e6f8;
  margin-top: 20px;
  position: relative;
}

.image-and-form-container {
  display: flex;
  width: 100%;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 80%;
  object-fit: cover;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.form-text {
  font-weight: bold;
  white-space: pre-wrap;
  font-size: 17px;
  line-height: 1.7;
  text-align: left;
}

.form {
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 390px) {
  .image-and-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
