/* .project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#ECEFF1;
  margin-top: 20px;
  position: relative;
} */

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Change height to min-height */
  background-color: #eceff1;
  margin-top: 20px;
  position: relative;
}
