.header-container {
  background-color: purple;
  height: 30px;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 1000;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 100px;
}

li a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
